@import '../../assets/styles/variables';

.nav {
  font-style: italic;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__link {
    color: $main-color-font;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: black;
      text-shadow: #fff 1px 1px 0;
    }
  }

  &__item {
    transition: 0.15s ease-in-out;
  }
}
