.nav {
  font-style: italic;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.nav__link {
  color: #3a4046;
  text-decoration: none;
}

.nav__link:hover {
  color: #091a27;
  text-shadow: #fff 2px 2px 3px;
}

.nav__link_active {
  color: #091a27;
  text-shadow: #fff 1px 1px 0;
}

.nav__item {
  transition: 0.15s ease-in-out;
}
