@import '../../assets/styles/variables';

.card {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid $main-color-bd;

  @media screen and (max-width: 1140px) {
    order: -1;
    margin-top: 0;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__screen-wrapper {
    flex-basis: 60%;
    flex-grow: 0;
    align-self: center;

    @media screen and (max-width: 1140px) {
      order: -1 !important;
    }
  }

  &__descr-wrapper {
    flex-basis: 40%;
    flex-grow: 0;
  }

  &__screen {
    width: 100%;
  }

  &__link {
    display: block;
    width: 100%;
    min-height: 5rem;

    @media screen and (max-width: 1140px) {
      width: 100%;
    }
  }
}
