$main-color: #3a3a3a;
$main-color-light: #d0d7e2;
$main-color-soft: #f3e6e6;
$main-color-bd: #faf5f6;
$main-color-dark: #7f807f;
$main-color-hard: #585858;
$main-color-hard-dark: #091a27;
$main-color-font: #3a4046;

$second-color: #fc9700;
$second-color-light: #ffc673;
$second-color-dark: #a66200;

$side-padding: 2rem;
