@import '../../assets/styles/variables';

.contact {
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  &__title {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    text-shadow: #fff 1px 1px 0;
  }

  &__form {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    flex-grow: 1;
  }

  &__input {
    font-size: 1rem;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    padding-left: 0.3rem;
    border: 2px solid $main-color-hard;
  }

  &__single {
    height: 2rem;
  }

  &__text {
    width: 100%;
    font-size: 1rem;
    flex: 1 1;
    resize: none;
    // height: 400px;
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    text-align: left;
  }

  &__wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__submit {
    font-family: "Chakra Petch", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    height: 3rem;
    margin-bottom: 2rem;
    cursor: pointer;
  }

  &__error {
    display: inline-block;
    border: 1px solid #b9a4a4;
    background-color: $main-color-error;
    padding: 0 0.4rem;
    color: #fff;
    border-radius: 0.2rem;
  }
}
