@import '../../assets/styles/variables';


.portfolio {
  padding: 4rem;

  &__list {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 1280px) {
    padding: 2rem;
  }

  // &__item {
  //   width: calc((100% - 1.1rem)/2);
  // }
}
