.portfolio {
  padding: 4rem;
}

.portfolio__list {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 1280px) {
  .portfolio {
    padding: 2rem;
  }
}
